:root{
    --primary-color: #E50914;
    --secondary-color: #141414;
    --terceary-color: #aaa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Elementos base */

body {
    background: var(--secondary-color);
    color: #fff;
    font-family: 'Bebas Neue', cursive;
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .logo {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 38px;
    margin-left: 10px;
}

header nav a {
    color: var(--terceary-color);
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}

header nav a:hover {
    color: #fff;
}

/* Elementos da página */

.film-principal {
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/img-fundo.jpg');
    background-size: cover;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 16px;
    height: 400px;
}

.film-principal .sinopse {
    margin-bottom: 50px;
    margin-top: 10px;
}

.title {
    font-size: 45px;
    margin-top: 15%;
}

.btn-primary {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;

    margin: 15px;
    padding: 15px 30px;

    transition: .3s ease all;
}

.btn-primary:hover {
    background: #aaa;
    color: #000;
    
}

.btn-primary i {
    margin-right: 5px;
}

.container {
    margin-left: 20px;
}

.film-principal .container {
    width: 70%;
}